'
<template>
  <div class = "startScreen">
      <div class="startBtn">
          <button @click="handleStartGameClick">Start game</button>   
      </div>
  </div>
</template>

<script>
import { getResults } from '../api/result';

export default {
  name: 'StartScreen',
  methods:{
    handleStartGameClick(){
      this.$router.push({
        name:'quiz',
        path:'/quiz'
      })
    }
  },
  async create(){
    try{
      this.questions = await getResults()
    }catch(error){
      this.error = await ("wrong")
    }finally{
      this.error = await("Finally")
    }
  },
  data(){
    return{
      questions: [],
      error: ''
    }
  }
}
</script>

<style>
  button:hover{
    cursor: pointer;
  }
</style>