<template>
 <div class="question-box-container">
  <b-jumbotron>

    <template v-slot:lead>
      {{ currentQuestion.question }}
    </template>

    <hr class="my-hr">
    <b-list-group>
    <b-list-group-item
      v-for="(answer,index) of answers"
      :key="index"
      @click="usersAnswer(index)"
      :class="[userSelctedIndex === index ? 'selected' : '']"
      >
      {{ answer }}
    </b-list-group-item>
  </b-list-group>

    <b-button 
      variant="primary"
      @click="submitAnswer"
      :disabled="userSelctedIndex === null"
      >
          Submit
    </b-button>
    <b-button @click="nextQuestion" variant="success" href="#">next</b-button>
  </b-jumbotron>
</div>
</template>

<script>
export default {
  props:{
    currentQuestion: Object,
    nextQuestion: Function,
    increment: Function
  },
  data(){
    return{
      userSelctedIndex: null,
      correctIndex: null,
      answered: false,
    }
  },
  computed:{
    answers(){
      let answers = [...this.currentQuestion.incorrect_answers]
      answers.push(this.currentQuestion.correct_answer)
      return answers
    }
  },
  methods:{
    usersAnswer(index){
      this.userSelctedIndex = index;
      console.log(index)
    },
    submitAnswer(){
      let isCorrect = false;
      if(this.userSelctedIndex === this.correctIndex){
        isCorrect = true;
      }
      
      this.increment(isCorrect);
    }
  },
}
</script>

<style scoped>
  .list-group{
    margin-bottom: 10px;
  }

  .list-group-item:hover{
    background-color: #efefef;
    cursor: pointer;
  }
  
  .btn{
    margin-left: 10px;
    margin-right: 10px;
  }

  .selected{
    background-color: #efefef;
  }

  .correct{
    background-color: lightgreen;
  }

  .incorrect{
    background-color: red;
  }
</style>