<template>
  <div>
  <b-nav tabs>
    <b-nav-item disabled>Trivia</b-nav-item>
    <b-nav-item disabled> {{correctAnswers}}/{{totalAnswers}}</b-nav-item>
  </b-nav>
</div>
</template>

<script>
export default {
  props: [
    'correctAnswers',
    'totalAnswers',
  ]
}
</script>

<style>

</style>