'
<template>
  <div class = "startScreen">
      <b>COMPONENT</b>

      <div class="startBtn">
        <button @click="handleStartGameOnClick()">Start game</button>
      </div>
  </div>
</template>

<script>
export default {

}
</script>
