<template>
  <div id="app">
    <img src="./assets/triviaLogo.png" alt="logo" width="500px">
    <QuizResults
      :correctAnswers="correctAnswers"
      :totalAnswers="totalAnswers"
    />
    
    <QuestionBox
      v-if="questions.length"
      :currentQuestion="questions[questionIndex]" 
      :nextQuestion="nextQuestion"
      :increment="increment"
    />

    
    
  </div>
</template>

<script>
import StartScreen from './views/StartScreen'
import QuestionBox from './components/QuestionBox'
import QuizResults from './components/QuizResults'

import { getResults } from './api/result'

export default {
  name: 'App',
  components: {
    StartScreen,
    QuestionBox,
    QuizResults,
  },
  async created(){
    console.log(this.$route.params)
    try{
      this.questions = await getResults();
    }catch(error){
      this.error = error.message
    }finally{
      this.loading = false;
    }
  },
  data(){
    return{
      questions: [],
      questionIndex: 0,
      correctAnswers: 0,
      totalAnswers: 0
    }
  },
  methods:{
    nextQuestion(){
      this.questionIndex++;
    },
    increment(isCorrect){
      if(isCorrect){
        this.correctAnswers++;
      } 
      this.totalAnswers++;
    }
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
